@{
    ViewData["Title"] = "Project Ideas";
}
<div>
<h1>@ViewData["Title"]</h1>
</div>
@model FYP_Management_System.Models.ProjectIdeas

<form asp-action="SubmitProjectIdea" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="description"></label>
        <input asp-for="description" class="form-control" />
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="category"></label>
        <input asp-for="category" class="form-control" />
        <span asp-validation-for="category" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
